<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>
        <%= title %>
    </title>
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
        rel="stylesheet" type="text/css" />
    <link href="/bs/home.css" rel="stylesheet" />
    <script src="/jq/jquery.min.js"></script>
    <script src="/bjs/bootstrap.bundle.min.js"></script>
    <script src="/swal/sweetalert2.all.min.js"></script>
    <script type="text/javascript">

        function enviarSolicitud() {

            var formdata = $("#solicitud-form").serializeArray();
            var data = {};
            $(formdata).each(function (index, obj) {
                data[obj.name] = obj.value;
            });
            //console.log(data);

            let fields = ["dui", "nombres", "apellidos", "tel", "correo", "dir1", "pais", "ciudad"];
            fields.forEach(f => {
                $("#" + f).removeClass("is-invalid");
            })

            $.ajax({
                url: "/solicitud/insertar",
                type: "POST",
                dataType: "json",
                data: data,
                success: function () {
                    $('#solicitud-form').trigger("reset");
                    Swal.fire(
                        'Éxito',
                        'Su solicitud de avalúo se ha procesado correctamente.',
                        'success'
                    )
                },
                error: function (xhr, status, error) {
                    let errors = xhr.responseText.split(",");
                    if (errors.at(-1) == "") errors.pop();
                    errors.forEach(e => {
                        $("#" + e).addClass("is-invalid");
                    })
                }
            });
        }
    </script>
</head>

<body id="page-top">
    <a class="menu-toggle rounded" href="#"><i class="fas fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"><a href="#page-top">SAP</a></li>
            <li class="sidebar-nav-item"><a href="#page-top">Inicio</a></li>
            <li class="sidebar-nav-item"><a href="#about">Acerca de</a></li>
            <li class="sidebar-nav-item"><a href="#services">Realiza tu prueba rápida</a></li>
            <li class="sidebar-nav-item"><a href="#portfolio">Imagenes</a></li>
            <li class="sidebar-nav-item"><a href="#contact">Contáctanos</a></li>
        </ul>
    </nav>
    <!-- Header-->
    <header class="masthead d-flex align-items-center">
        <div class="tela"></div>
        <div class="container px-4 px-lg-5 text-center position-relative">
            <h1 class="mb-1 text-white">Sistema de avalúo de propiedades</h1>
            <h3 class="mb-5 text-white"><em>¡Le damos valor a tus bienes!</em></h3>
            <a class="btn btn-dark btn-xl" href="#about">Ver más</a>
        </div>
    </header>
    <!-- About-->
    <section class="content-section bg-light" id="about">
        <div class="container px-4 px-lg-5 text-center">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-10">
                    <h2>¿No sabes cuál es el valor de tu propiedad?<br>No te preocupes, ¡te tenemos cubierto!</h2>
                    <p class="lead mb-5">
                        Ya sea porque quieras poner en venta una propiedad, evaluar si tu compra está justificada o solo
                        por saber el valor de un inmueble; nosotros te podemos ayudar.<br>
                        Accede a nuestro portal de avalúos para obtener un estimado con nuestro avalúo sencillo o
                        solicita a nuestro personal para programar una visita a un inmueble y realizar un avalúo formal.
                        No esperes más, ¡estamos para ayudarte!
                    </p>
                    <div class="d-flex justify-content-around align-items-center">
                        <a class="btn btn-dark btn-xl" href="/simpleTest">Haz tu propio avalúo</a>
                        <label>O</label>
                        <button type="button" class="btn btn-info btn-xl" data-toggle="modal"
                            data-target="#avaluoModal">Solicita un avalúo completo</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal de solicitud -->
        <div class="modal fade" id="avaluoModal" tabindex="-1" aria-labelledby="modalSolicitud" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Formulario de solicitud de avalúo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <label>Llene el formulario a continuación para realizar una solicitud de avalúo. Posteriormente
                            se le contactará para continuar con el proceso.</label>
                        <form class="pt-1 d-flex justify-content-around" id="solicitud-form">
                            <div class="d-flex justify-content-around pt-2 col flex-column">
                                <div class="px-2">
                                    <label for="dui">Documento de Identidad</label>
                                    <input type="text" id="dui" name="dui" class="form-control"
                                        placeholder="Ej: 123456789">
                                </div>
                                <div class="px-2">
                                    <label for="nombres">Nombres</label>
                                    <input type="text" id="nombres" name="nombres" class="form-control"
                                        placeholder="Nombres">
                                </div>
                                <div class="px-2">
                                    <label for="apellidos">Apellidos</label>
                                    <input type="text" id="apellidos" name="apellidos" class="form-control"
                                        placeholder="Apellidos">
                                </div>
                                <div class="px-2">
                                    <label for="tel">Teléfono de contacto</label>
                                    <input type="text" id="tel" name="tel" class="form-control"
                                        placeholder="Ej: 22222222">
                                </div>
                                <div class="px-2">
                                    <label for="correo">Correo electrónico</label>
                                    <input type="text" id="correo" name="correo" class="form-control"
                                        placeholder="correo@ejemplo.com">
                                </div>

                            </div>
                            <div class="d-flex justify-content-around pt-2 col flex-column">
                                <div class="px-2">
                                    <label for="dir1">Dirección</label>
                                    <input type="text" id="dir1" name="dir1" class="form-control" placeholder="Línea 1">
                                </div>
                                <div class="px-2 pt-2">
                                    <input type="text" id="dir2" name="dir2" class="form-control"
                                        placeholder="Línea 2 (Opcional)">
                                </div>
                                <div class="px-2">
                                    <label for="refs">Puntos de referencia</label>
                                    <textarea rows="2" id="refs" name="refs" class="form-control"
                                        placeholder="Cerca de... (Opcional)"></textarea>
                                </div>
                                <div class="px-2">
                                    <label for="pais">País</label>
                                    <select class="form-control" id="pais" name="pais">
                                        <option value="">-- Seleccione un país --</option>
                                        <option>El Salvador</option>
                                        <option>Guatemala</option>
                                        <option>Honduras</option>
                                    </select>
                                </div>
                                <div class="px-2">
                                    <label for="ciudad">Ciudad</label>
                                    <input type="text" id="ciudad" name="ciudad" class="form-control"
                                        placeholder="Ciudad">
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" onclick="enviarSolicitud()">Enviar
                            solicitud</button>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- Services-->
    <section class="content-section bg-primary text-white text-center" id="services">
        <div class="container px-4 px-lg-5">
            <div class="content-section-heading">
                <h3 class="text-secondary mb-0">Avaluo simple</h3>
                <h2 class="mb-5">¿Deseas saber un valor estimado de tu bien en el mercado?</h2>
            </div>
            <p class="lead mb-5">
                Haz click
                <a class="text-dark" href="https://unsplash.com/">aquí</a>
                para poder realizarlo.
                !
            </p>
        </div>
    </section>
    <section class="content-section" id="portfolio">
        <div class="container px-4 px-lg-5">
            <div class="content-section-heading text-center">
                <h3 class="text-secondary mb-0">Imagenes</h3>
                <h2 class="mb-5">Implementaciones recientes</h2>
            </div>
            <div class="row gx-0">
                <div class="col-lg-6">
                    <a class="portfolio-item" href="#!">
                        <div class="caption">
                            <div class="caption-content">
                                <div class="h2">1</div>
                                <p class="mb-0">text</p>
                            </div>
                        </div>
                        <img class="img-fluid" src="/assets/img/portfolio-1.jpg" alt="..." />
                    </a>
                </div>
                <div class="col-lg-6">
                    <a class="portfolio-item" href="#!">
                        <div class="caption">
                            <div class="caption-content">
                                <div class="h2">2</div>
                                <p class="mb-0">text</p>
                            </div>
                        </div>
                        <img class="img-fluid" src="/assets/img/portfolio-2.jpg" alt="..." />
                    </a>
                </div>
                <div class="col-lg-6">
                    <a class="portfolio-item" href="#!">
                        <div class="caption">
                            <div class="caption-content">
                                <div class="h2">3</div>
                                <p class="mb-0">text</p>
                            </div>
                        </div>
                        <img class="img-fluid" src="/assets/img/portfolio-3.jpg" alt="..." />
                    </a>
                </div>
                <div class="col-lg-6">
                    <a class="portfolio-item" href="#!">
                        <div class="caption">
                            <div class="caption-content">
                                <div class="h2">4</div>
                                <p class="mb-0">text</p>
                            </div>
                        </div>
                        <img class="img-fluid" src="/assets/img/portfolio-4.jpg" alt="..." />
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Call to Action-->
    <section class="content-section bg-primary text-white" id="contact">
        <div class="container px-4 px-lg-5 text-center mb-5">
            <h2 class="mb-4">Contacto</h2>
            <a class="btn btn-xl btn-light me-4" href="#!">Click Me!</a>
            <a class="btn btn-xl btn-dark" href="#!">Look at Me!</a>
        </div>
        <div class="map">
            <iframe
                src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
            <br />
            <small><a
                    href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a></small>
        </div>
    </section>
    <!-- Map-->

    <!-- Footer-->
    <footer class="footer text-center">
        <div class="container px-4 px-lg-5">
            <ul class="list-inline mb-5">
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white mr-3" href="#!"><i
                            class="icon-social-facebook"></i></a>
                </li>
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white mr-3" href="#!"><i
                            class="icon-social-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white" href="#!"><i class="icon-social-github"></i></a>
                </li>
            </ul>
            <p class="text-muted small mb-0">Copyright &copy; SAP 2021</p>
        </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top"><i class="fas fa-angle-up"></i></a>
    <!-- Core theme JS-->
    <script src="/assets/js/home.js"></script>
    <script>
        function getQueryVariable(variable) {
            var query = window.location.search.substring(1);
            var vars = query.split("&");
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split("=");
                if (pair[0] == variable) {
                    return pair[1];
                }
            }
        }
        $(document).ready(function () {
            if (getQueryVariable("modal") == "true") {
                $("#avaluoModal").modal();
            }
        });
    </script>
</body>

</html>