<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="/jq/jquery.min.js"></script>
  <script>
    var displayOnline = true;
    var displayOffline = true;
    async function connRoutine(delay) {
      // await ...
      try{
        ping(delay);
      }catch(e){
        console.clear();
      }

      setTimeout(() => connRoutine(delay), delay)
    }

    function ping(delay) {
      $.ajax({
        url: "/connStatus",
        type: "GET",
        dataType: "json",
        timeout: delay,
        success: function () {
          if (displayOnline) {
            $("#status").html("Your current connection status is: Online");
            console.log("Online");
            displayOnline = false;
            displayOffline = true;
          }
        },
        error: function (jqXHR, textStatus, errorThrown) {
          if (displayOffline) {
            $("#status").html("Your current connection status is: Offline");
            console.log("Offline");
            displayOffline = false;
            displayOnline = true;
          }
        }
      });
    }
    connRoutine(5000);

  </script>
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>
  <button id="statusCheck" onclick="ping()">Click to check the connection</button><br />
  <h2 id="status">Your current connection status is:</h2>
</body>

</html>