<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="/jq/jquery.min.js"></script>

  <%- include("./internetCheck.ejs") %>
    <script>
      function exe() {
        console.log(online ? "Online" : "Offline");
      }
    </script>

</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>
  <button id="statusCheck" onclick="exe()">Click to check the connection</button><br />
  <h2 id="status">Your current connection status is:</h2>
</body>

</html>