<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/home.css" rel="stylesheet" />
  <script src="/jq/jquery.min.js"></script>

  <%- //include("./internetCheck.ejs") %>
    <script>
      function exe() {
        console.log(online ? "Online" : "Offline");
      }

      /*if ('serviceWorker' in navigator) {
        window.addEventListener('load', function () {
          navigator.serviceWorker.register('/sw.js').then(function (registration) {
            console.log('ServiceWorker registered');
          }, function (err) {
            console.log('ServiceWorker registration failed: ', err);
          });
        });
      }*/

      function load() {
        window.location.href = "/";
      }
    </script>

</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>
  <button id="statusCheck" onclick="exe()">Click to checks the connection</button><br />
  <button onclick="load()">Move it!</button><br />
  <h2 id="status">Your current connection status is:</h2>
</body>

</html>