<h1>Añadir planos al informe</h1>
<div class="row">
    <div class="col-lg-9">
        <div class="card shadow mb-4">
            <a href="#collapseCardCharge" class="d-block card-header py-3" data-toggle="collapse" role="button"
                aria-expanded="true" aria-controls="collapseCardExample">
                <h6 class="m-0 font-weight-bold text-primary">Cargar Planos</h6>
            </a>
            <div class="collapse hide" id="collapseCardCharge">
                <div class="card-body">
                    <p>Carga planos al informe</p>
                    <p class="font-weight-bold">*Debes un plano</p>
                    <form action="products" class="input-group mb-3" method="post" enctype="multipart/form-data">
                        <select name="unity" class="form-control mr-1" id="">
                            <option value="null">Seleccione el informe a usar</option>
                        </select>
                        <input type="submit" class="input-group-prepend btn btn-success" name="upload" value="Cargar">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="route" id="inputGroupFile01">
                            <label class="custom-file-label" for="inputGroupFile01">Cargar Plano</label>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>