<h1>Añadir planos al informe</h1>
<div class="row">
    <div class="col-lg-9">
        <div class="card shadow mb-4">
            <a href="#collapseCardCharge" class="d-block card-header py-3" data-toggle="collapse" role="button"
                aria-expanded="true" aria-controls="collapseCardExample">
                <h6 class="m-0 font-weight-bold text-primary">Cargar Planos</h6>
            </a>
            <div class="collapse hide" id="collapseCardCharge">
                <div class="card-body">
                    <p>Carga planos al informe</p>
                    <p class="font-weight-bold">*Debes un plano</p>
                    <form action="/imagen/upload" class="input-group mb-3" method="post" enctype="multipart/form-data">
                        <select name="unity" class="form-control mr-1" id="" hidden>
                            <option value="null">Seleccione el informe a usar</option>
                        </select>
                        <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre del plano">
                        <input type="file" class="form-control btn btn-success" name="image" id="image" accept=".png, .jpg, .jpeg">
                        <input type="submit" value="Enviar">
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
