<h1>Avalúo de una Propiedad</h1>
<form data-avaluo = <%= avaluo %> id="form-avaluo">
  <div class="form-group row">
    <label for="solicitante" class="col-sm-2 col-form-label col-form-label-sm">SOLICITANTE:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control form-control-sm" id="solicitante" name="solicitante">
    </div>
  </div>
  <div class="form-group row">
    <label for="propietario" class="col-sm-2 col-form-label col-form-label-sm">PROPIETARIOS:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control form-control-sm" id="propietario">
    </div>
  </div>
  <div class="form-group row">
    <label for="dirEscritura" class="col-sm-2 col-form-label col-form-label-sm">DIRECCIÓN ESCRITURA:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control form-control-sm" id="dirEscritura">
    </div>
  </div>
  <div class="form-group row">
    <label for="dirCampo" class="col-sm-2 col-form-label col-form-label-sm">DIRECCIÓN EN CAMPO:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control form-control-sm" id="dirCampo">
    </div>
  </div>
  <h4 class="my-4">Descripción general del inmueble</h4>

  <div class="form-group row">
    <label class="col-12 col-lg-2 col-form-label col-form-label-sm">TIPO DE BIEN</label>
    <div class="col-12 col-lg-10 form-check form-check-inline checkboxes">
      <input class="form-check-input" type="checkbox" id="urbano" value="urbano">
      <label class="form-check-label pr-3" for="urbano">Urbano</label>
      <input class="form-check-input" type="checkbox" id="rural" value="rural">
      <label class="form-check-label pr-3" for="rural">Rural</label>
      <input class="form-check-input" type="checkbox" id="subUrbano" value="subUrbano">
      <label class="form-check-label pr-3" for="subUrbano">Sub urbano</label>
      <input class="form-check-input" type="checkbox" id="rustico" value="rustico">
      <label class="form-check-label pr-3" for="rustico">Rústico</label>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-12 col-lg-2 col-form-label col-form-label-sm">USO ACTUAL</label>
    <div class="col-12 col-lg-10 form-check form-check-inline checkboxes">
      <input class="form-check-input" type="checkbox" id="residencial" value="residencial">
      <label class="form-check-label pr-3" for="residencial">Residencial</label>
      <input class="form-check-input" type="checkbox" id="industrial" value="industrial">
      <label class="form-check-label pr-3" for="industrial">Industrial</label>
      <input class="form-check-input" type="checkbox" id="oficinas" value="oficinas">
      <label class="form-check-label pr-3" for="oficinas">Oficinas</label>
      <input class="form-check-input" type="checkbox" id="comercio" value="comercio">
      <label class="form-check-label pr-3" for="comercio">Comercio</label>
      <input class="form-check-input" type="checkbox" id="recreativo" value="recreativo">
      <label class="form-check-label pr-3" for="recreativo">Rrecreativo</label>
      <input class="form-check-input" type="checkbox" id="valdio" value="valdio">
      <label class="form-check-label pr-3" for="valdio">Valdío</label>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-12 col-lg-2 col-form-label col-form-label-sm">OFERTA EN ZONA</label>
    <div class="col-12 col-lg-10 form-check form-check-inline checkboxes">
      <input class="form-check-input" type="checkbox" id="abundante" value="abundante">
      <label class="form-check-label pr-3" for="abundante">Abundante</label>
      <input class="form-check-input" type="checkbox" id="promedio" value="promedio">
      <label class="form-check-label pr-3" for="promedio">Promedio</label>
      <input class="form-check-input" type="checkbox" id="regular" value="regular">
      <label class="form-check-label pr-3" for="regular">Regular</label>
      <input class="form-check-input" type="checkbox" id="equilibrada" value="equilibrada">
      <label class="form-check-label pr-3" for="equilibrada">Equilibrada</label>
      <input class="form-check-input" type="checkbox" id="escasa" value="escasa">
      <label class="form-check-label pr-3" for="escasa">Escasa</label>
      <input class="form-check-input" type="checkbox" id="no" value="no">
      <label class="form-check-label pr-3" for="no">No se observó</label>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-12 col-lg-2 col-form-label col-form-label-sm">DEMANDA EN ZONA</label>
    <div class="col-12 col-lg-10 form-check form-check-inline checkboxes">
      <input class="form-check-input" type="checkbox" id="Dalta" value="Dalta">
      <label class="form-check-label pr-3" for="Dalta">Alta</label>
      <input class="form-check-input" type="checkbox" id="Dbuena" value="Dbuena">
      <label class="form-check-label pr-3" for="Dbuena">Buena</label>
      <input class="form-check-input" type="checkbox" id="Destable" value="Destable">
      <label class="form-check-label pr-3" for="Destable">Estable</label>
      <input class="form-check-input" type="checkbox" id="Dregular" value="Dregular">
      <label class="form-check-label pr-3" for="Dregular">Regular</label>
      <input class="form-check-input" type="checkbox" id="Dbaja" value="Dbaja">
      <label class="form-check-label pr-3" for="Dbaja">Baja</label>
      <input class="form-check-input" type="checkbox" id="Dno" value="Dno">
      <label class="form-check-label pr-3" for="Dno">No existe</label>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-12 col-lg-2 col-form-label col-form-label-sm">PLUSVALIA</label>
    <div class="col-12 col-lg-10 form-check form-check-inline checkboxes">
      <input class="form-check-input" type="checkbox" id="Pcreciente" value="Pcreciente">
      <label class="form-check-label pr-3" for="Pcreciente">Creciente</label>
      <input class="form-check-input" type="checkbox" id="Pestable" value="Pestable">
      <label class="form-check-label pr-3" for="Pestable">Estable</label>
      <input class="form-check-input" type="checkbox" id="Pdeterioro" value="Pdeterioro">
      <label class="form-check-label pr-3" for="Pdeterioro">En deterioro</label>
      <input class="form-check-input" type="checkbox" id="Ptrans" value="Ptrans">
      <label class="form-check-label pr-3" for="Ptrans">En transición</label>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-12 col-lg-2 col-form-label col-form-label-sm">ENTORNO</label>
    <div class="col-12 col-lg-10 form-check form-check-inline checkboxes">
      <input class="form-check-input" type="checkbox" id="superior" value="superior">
      <label class="form-check-label pr-3" for="superior">Superior</label>
      <input class="form-check-input" type="checkbox" id="similar" value="similar">
      <label class="form-check-label pr-3" for="similar">Similar</label>
      <input class="form-check-input" type="checkbox" id="inferior" value="inferior">
      <label class="form-check-label pr-3" for="inferior">Inferior</label>
    </div>
  </div>
  <div class="form-group row">
    <label for="ocupado" class="col-sm-2 col-form-label col-form-label-sm">OCUPADO POR:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control form-control-sm" id="ocupado">
    </div>
  </div>
  <h4 class="my-4">Linderos y descripción según escritura</h4>
  <div class="form-group row">
    <label for="ocupado" class="col-sm-2 col-form-label col-form-label-sm">DISTANCIAS DE LUGARES IMPORTANTES:</label>
    <div class="col-sm-10">
      <div class="form-inline">
        <div class="form-group">
          <label for="escuelas" class="col-form-label col-form-label-sm mr-sm-3">Escuelas o colegios</label>
          <input type="number" class="form-control form-control-sm" id="escuelas" placeholder="mt" min="0">
        </div>
        <div class="form-group">
          <label for="transporte" class="col-form-label col-form-label-sm  mx-sm-3">Transporte público</label>
          <input type="number" class="form-control form-control-sm" id="transporte" placeholder="mt" min="0">
        </div>
        <div class="form-group ">
          <label for="comercio" class="col-form-label col-form-label-sm  mx-sm-3">Comercio formal</label>
          <input type="number" class="form-control form-control-sm" id="comercio" placeholder="mt" min="0">
        </div>
      </div>
    </div>
  </div>
  <h4 class="mt-4">Descripción del terreno</h4>
  <h5>Medidas perimétricas y colindancias: (verificado en campo)</h5>
  <div class="form-group row">
    <div class="col-sm-2">
      <label for="norte" class="col-form-label col-form-label-sm">Norte</label>
      <input type="number" class="form-control form-control-sm" id="norte" min="0">
    </div>
    <div class="col-sm-10">
      <label for="Lnorte" class="col-form-label col-form-label-sm">Linda con</label>
      <input type="text" class="form-control form-control-sm" id="Lnorte" min="0">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
      <label for="sur" class="col-form-label col-form-label-sm">Sur</label>
      <input type="number" class="form-control form-control-sm" id="sur" min="0">
    </div>
    <div class="col-sm-10">
      <label for="Lsur" class="col-form-label col-form-label-sm">Linda con</label>
      <input type="text" class="form-control form-control-sm" id="Lsur" min="0">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
      <label for="oriente" class="col-form-label col-form-label-sm">Oriente</label>
      <input type="number" class="form-control form-control-sm" id="oriente" min="0">
    </div>
    <div class="col-sm-10">
      <label for="Loriente" class="col-form-label col-form-label-sm">Linda con</label>
      <input type="text" class="form-control form-control-sm" id="Loriente" min="0">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
      <label for="poniente" class="col-form-label col-form-label-sm">Poniente</label>
      <input type="number" class="form-control form-control-sm" id="poniente" min="0">
    </div>
    <div class="col-sm-10">
      <label for="Lponiente" class="col-form-label col-form-label-sm">Linda con</label>
      <input type="text" class="form-control form-control-sm" id="Lponiente" min="0">
    </div>
  </div>
  <div class="form-group row">
    <label for="inscripcion" class="col-sm-2 col-form-label col-form-label-sm">N° DE INSCRIPCIÓN R.P.R.H.</label>
    <div class="col-sm-10">
      <input type="text" class="form-control form-control-sm" id="inscripcion">
    </div>
  </div>
  <div class="form-group row">
    <label for="ocupado" class="col-sm-2 col-form-label col-form-label-sm">ÁREA DE TERRENO SEGÚN ESCRITURA:</label>
    <div class="col-sm-10">
      <div class="form-inline">
        <div class="form-group mr-3">
          <input type="number" class="form-control form-control-sm" id="areaEscritura" placeholder="M2" min="0">
        </div>
        <div class="form-group">
          <input type="number" class="form-control form-control-sm" id="volumenEscritura" placeholder="V2" min="0">
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="ocupado" class="col-sm-2 col-form-label col-form-label-sm">ÁREA DE TERRENO SEGÚN CAMPO:</label>
    <div class="col-sm-10">
      <div class="form-inline">
        <div class="form-group mr-3">
          <input type="number" class="form-control form-control-sm" id="areaCampo" placeholder="M2" min="0">
        </div>
        <div class="form-group">
          <input type="number" class="form-control form-control-sm" id="volumenCampo" placeholder="V2" min="0">
        </div>
      </div>
    </div>
  </div>
  <h4 class="my-4">Información sobre servicios</h4>
  <div class="row">
    <div class="col-lg-3">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="aguaPotable" id="aguaPotable" value="aguaPotable">
        <label class="form-check-label" for="aguaPotable">Agua potable</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="electrica" id="electrica" value="energiaElectrica">
        <label class="form-check-label" for="electrica">E. Electrica</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="aceras" id="aceras" value="aceras">
        <label class="form-check-label" for="aceras">Aceras</label>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="arriate" id="arriate" value="arriate">
        <label class="form-check-label" for="arriate">Arriate</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="alumbrado" id="alumbrado" value="alumbrado">
        <label class="form-check-label" for="alumbrado">Alum. Público</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="aseo" id="aseo" value="aseo">
        <label class="form-check-label" for="aseo">Tren de aseo</label>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="tanque" id="tanque" value="tanque">
        <label class="form-check-label" for="tanque">Tanque</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="telefono" id="telefono" value="telefono">
        <label class="form-check-label" for="telefono">Teléfono</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="caseta" id="caseta" value="caseta">
        <label class="form-check-label" for="caseta">Caseta de vig.</label>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="cisterna" id="cisterna" value="cisterna">
        <label class="form-check-label" for="cisterna">Cisterna</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="alcantarillados" id="alcantarillados"
          value="alcantarillados">
        <label class="form-check-label" for=alcantarillados">Alcantarillados</label>
      </div>
    </div>
  </div>
  <div class="form-group row my-3">
    <label for="acceso" class="col-sm-2 col-form-label col-form-label-sm">ACCESO:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control form-control-sm" id="acceso">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-12 col-lg-2 col-form-label col-form-label-sm">FORMA PARTE DE UN PROYECTO:</label>
    <div class="col-12 col-lg-10 form-check form-check-inline checkboxes">
      <input class="form-check-input" type="checkbox" id="condominio" value="condominio">
      <label class="form-check-label pr-3" for="condominio">Condominio vertical</label>
      <input class="form-check-input" type="checkbox" id="urbanizacion" value="urbanizacion">
      <label class="form-check-label pr-3" for="urbanizacion">De urbanización</label>
      <input class="form-check-input" type="checkbox" id="formal" value="formal">
      <label class="form-check-label pr-3" for="formal">Formal</label>
      <div class="form-inline">
        <div class="form-group">
          <label for="otros" class="col-form-label col-form-label-sm mr-sm-3">Otros:</label>
          <input type="text" class="form-control form-control-sm" id="otros">
        </div>
      </div>
    </div>
  </div>
  <h4 class="my-4">Descripción de las construcciones</h4>
  <div class="form-group row my-3">
    <label for="edadEstimada" class="col-sm-2 col-form-label col-form-label-sm">EDAD ESTIMADA DE LA CONSTRUCCIÓN
      (años):</label>
    <div class="col-sm-10">
      <input type="number" class="form-control form-control-sm" id="edadEstimada">
    </div>
  </div>
  <div class="form-group row my-3">
    <label for="vidaUtil" class="col-sm-2 col-form-label col-form-label-sm">VIDA ÚTIL REMANENTE (años):</label>
    <div class="col-sm-10">
      <input type="number" class="form-control form-control-sm" id="vidaUtil">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-12 col-lg-2 col-form-label col-form-label-sm">TIPO DE CONSTRUCCIÓN:</label>
    <div class="col-12 col-lg-10 form-check form-check-inline checkboxes">
      <input class="form-check-input" type="checkbox" id="mixto" value="mixto">
      <label class="form-check-label pr-3" for="mixto">mixto L.B.C.</label>
      <input class="form-check-input" type="checkbox" id="mamposteria" value="mamposteria">
      <label class="form-check-label pr-3" for="mamposteria">Mampostería</label>
      <input class="form-check-input" type="checkbox" id="prefabricado" value="prefabricado">
      <label class="form-check-label pr-3" for="prefabricado">Prefabricado</label>
      <input class="form-check-input" type="checkbox" id="tipoPerf" value="tipoPerf">
      <label class="form-check-label pr-3" for="tipoPerf">est. tipo perf.</label>
      <input class="form-check-input" type="checkbox" id="adobe" value="adobe">
      <label class="form-check-label pr-3" for="adobe">Adobe</label>
      <input class="form-check-input" type="checkbox" id="bahareque" value="bahareque">
      <label class="form-check-label pr-3" for="bahareque">Bahareque</label>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-12 col-lg-2 col-form-label col-form-label-sm">TIPO DE EDIFICACIÓN:</label>
    <div class="col-12 col-lg-10 form-check form-check-inline checkboxes">
      <input class="form-check-input" type="checkbox" id="unifamiliar" value="unifamiliar">
      <label class="form-check-label pr-3" for="unifamiliar">Unifamiliar</label>
      <input class="form-check-input" type="checkbox" id="condV" value="condV">
      <label class="form-check-label pr-3" for="condV">Cond. Vert.</label>
      <input class="form-check-input" type="checkbox" id="condH" value="condH">
      <label class="form-check-label pr-3" for="condH">Cond. Horiz.</label>
      <input class="form-check-input" type="checkbox" id="multifamiliar" value="multifamiliar">
      <label class="form-check-label pr-3" for="multifamiliar">Multifamiliar</label>
      <input class="form-check-input" type="checkbox" id="otroEdif" value="otroEdif">
      <label class="form-check-label pr-3" for="otroEdif">Otro</label>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-12 col-lg-2 col-form-label col-form-label-sm">DISTRIBUCIÓN ARQUITECTÓNICA:</label>
    <div class="col-12 col-lg-10 form-check form-check-inline checkboxes">
      <input class="form-check-input" type="checkbox" id="arqBuena" value="arqBuena">
      <label class="form-check-label pr-3" for="arqBuena">Buena</label>
      <input class="form-check-input" type="checkbox" id="arqRegular" value="arqRegular">
      <label class="form-check-label pr-3" for="arqRegular">Regular</label>
      <input class="form-check-input" type="checkbox" id="arqDeficiente" value="arqDeficiente">
      <label class="form-check-label pr-3" for="arqDeficiente">Deficiente</label>
      <input class="form-check-input" type="checkbox" id="arqMala" value="arqMala">
      <label class="form-check-label pr-3" for="arqMala">Mala</label>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-12 col-lg-2 col-form-label col-form-label-sm">TIPO DE DISEÑO:</label>
    <div class="col-12 col-lg-10 form-check form-check-inline checkboxes">
      <input class="form-check-input" type="checkbox" id="1planta" value="1planta">
      <label class="form-check-label pr-3" for="1planta">1 Planta</label>
      <input class="form-check-input" type="checkbox" id="2planta" value="2planta">
      <label class="form-check-label pr-3" for="2planta">2 Planta</label>
      <input class="form-check-input" type="checkbox" id="3planta" value="3planta">
      <label class="form-check-label pr-3" for="3planta">3 Planta</label>
      <input class="form-check-input" type="checkbox" id="8niveles" value="8niveles">
      <label class="form-check-label pr-3" for="8niveles">Edificio de 8 niveles</label>
    </div>
  </div>
  <h4 class="my-4">Descripción de la vivienda</h4>
  <div class="form-group row">
    <label for="cochera" class="col-sm-1 col-form-label col-form-label-sm">COCHERA:</label>
    <div class="form-check col-sm-1">
      <input class="form-check-input position-static" type="checkbox" id="cochera" value="cochera">
    </div>
    <label for="paredes" class="col-sm-1 col-form-label col-form-label-sm">Paredes:</label>
    <div class="col-sm-9">
      <input type="text" class="form-control form-control-sm" id="paredes">
    </div>
  </div>
  <div class="form-group row">
    <label for="terraza" class="col-sm-1 col-form-label col-form-label-sm">TERRAZA:</label>
    <div class="form-check col-sm-1">
      <input class="form-check-input position-static" type="checkbox" id="terraza" value="terraza">
    </div>
    <label for="techo" class="col-sm-1 col-form-label col-form-label-sm">Techo:</label>
    <div class="col-sm-9">
      <input type="text" class="form-control form-control-sm" id="techo">
    </div>
  </div>
  <div class="form-group row">
    <label for="dormitorio" class="col-sm-1 col-form-label col-form-label-sm">DORMITORIO:</label>
    <div class="form-check col-sm-1">
      <input class="form-check-input position-static" type="checkbox" id="dormitorio" value="dormitorio">
    </div>
    <label for="estructura" class="col-sm-1 col-form-label col-form-label-sm">Estructura:</label>
    <div class="col-sm-9">
      <input type="text" class="form-control form-control-sm" id="estructura">
    </div>
  </div>
  <div class="form-group row">
    <label for="sala" class="col-sm-1 col-form-label col-form-label-sm">SALA:</label>
    <div class="form-check col-sm-1">
      <input class="form-check-input position-static" type="checkbox" id="sala" value="sala">
    </div>
    <label for="cielos" class="col-sm-1 col-form-label col-form-label-sm">Cielos:</label>
    <div class="col-sm-9">
      <input type="text" class="form-control form-control-sm" id="cielos">
    </div>
  </div>
  <div class="form-group row">
    <label for="comedor" class="col-sm-1 col-form-label col-form-label-sm">COMEDOR:</label>
    <div class="form-check col-sm-1">
      <input class="form-check-input position-static" type="checkbox" id="comedor" value="comedor">
    </div>
    <label for="pisos" class="col-sm-1 col-form-label col-form-label-sm">Pisos:</label>
    <div class="col-sm-9">
      <input type="text" class="form-control form-control-sm" id="pisos">
    </div>
  </div>
  <div class="form-group row">
    <label for="cocina" class="col-sm-1 col-form-label col-form-label-sm">COCINA:</label>
    <div class="form-check col-sm-1">
      <input class="form-check-input position-static" type="checkbox" id="cocina" value="cocina">
    </div>
    <label for="ventanas" class="col-sm-1 col-form-label col-form-label-sm">Ventanas:</label>
    <div class="col-sm-9">
      <input type="text" class="form-control form-control-sm" id="ventanas">
    </div>
  </div>
  <div class="form-group row">
    <label for="sanitarioC" class="col-sm-1 col-form-label col-form-label-sm">SANITARIO COMP.:</label>
    <div class="form-check col-sm-1">
      <input class="form-check-input position-static" type="checkbox" id="sanitarioC" value="sanitarioC">
    </div>
    <label for="puertas" class="col-sm-1 col-form-label col-form-label-sm">Puertas:</label>
    <div class="col-sm-9">
      <input type="text" class="form-control form-control-sm" id="puertas">
    </div>
  </div>
  <div class="form-group row">
    <label for="sanitarioS" class="col-sm-1 col-form-label col-form-label-sm">SANITARIO SOCIAL:</label>
    <div class="form-check col-sm-1">
      <input class="form-check-input position-static" type="checkbox" id="sanitarioS" value="sanitarioS">
    </div>
    <label for="defensas" class="col-sm-1 col-form-label col-form-label-sm">Defensas:</label>
    <div class="col-sm-9">
      <input type="text" class="form-control form-control-sm" id="defensas">
    </div>
  </div>
  <div class="form-group row">
    <label for="estar" class="col-sm-1 col-form-label col-form-label-sm">ESTAR FAMILIAR:</label>
    <div class="form-check col-sm-1">
      <input class="form-check-input position-static" type="checkbox" id="estar" value="estar">
    </div>
    <label for="entrePisos" class="col-sm-1 col-form-label col-form-label-sm">Entrepisos:</label>
    <div class="col-sm-9">
      <input type="text" class="form-control form-control-sm" id="entrePisos">
    </div>
  </div>
  <div class="form-group row">
    <label for="usosM" class="col-sm-1 col-form-label col-form-label-sm">USOS MÚLTIPLES:</label>
    <div class="form-check col-sm-1">
      <input class="form-check-input position-static" type="checkbox" id="usosM" value="usosM">
    </div>
    <label for="pantry" class="col-sm-1 col-form-label col-form-label-sm">Pantry:</label>
    <div class="col-sm-9">
      <input type="text" class="form-control form-control-sm" id="pantry">
    </div>
  </div>
  <div class="form-group row">
    <label for="estudio" class="col-sm-1 col-form-label col-form-label-sm">ESTUDIO:</label>
    <div class="form-check col-sm-1">
      <input class="form-check-input position-static" type="checkbox" id="estudio" value="estudio">
    </div>
    <label for="closets" class="col-sm-1 col-form-label col-form-label-sm">Closets:</label>
    <div class="col-sm-9">
      <input type="text" class="form-control form-control-sm" id="closets">
    </div>
  </div>
  <div class="form-group row">
    <label for="dormServicio" class="col-sm-1 col-form-label col-form-label-sm">DORM. SERVICIO:</label>
    <div class="form-check col-sm-1">
      <input class="form-check-input position-static" type="checkbox" id="dormServicio" value="dormServicio">
    </div>
    <label for="revestimientos" class="col-sm-1 col-form-label col-form-label-sm">Revestimientos:</label>
    <div class="col-sm-9">
      <input type="text" class="form-control form-control-sm" id="revestimientos">
    </div>
  </div>
  <div class="form-group row">
    <label for="bañoS" class="col-sm-1 col-form-label col-form-label-sm">BAÑO DE SERVICIO:</label>
    <div class="form-check col-sm-1">
      <input class="form-check-input position-static" type="checkbox" id="bañoS" value="bañoS">
    </div>
    <label for="servSanit" class="col-sm-1 col-form-label col-form-label-sm">Serv. Sanit.:</label>
    <div class="col-sm-9">
      <input type="text" class="form-control form-control-sm" id="servSanit">
    </div>
  </div>
  <div class="form-group row">
    <label for="areaOficio" class="col-sm-1 col-form-label col-form-label-sm">AREA DE OFICIOS:</label>
    <div class="form-check col-sm-1">
      <input class="form-check-input position-static" type="checkbox" id="areaOficio" value="areaOficio">
    </div>
    <label for="acabEsp" class="col-sm-1 col-form-label col-form-label-sm">Acab. Esp.:</label>
    <div class="col-sm-9">
      <input type="text" class="form-control form-control-sm" id="acabEsp">
    </div>
  </div>
  <div class="form-group row">
    <label for="patio" class="col-sm-1 col-form-label col-form-label-sm">PATIO:</label>
    <div class="form-check col-sm-1">
      <input class="form-check-input position-static" type="checkbox" id="patio" value="patio">
    </div>
    <label for="tapial" class="col-sm-1 col-form-label col-form-label-sm">Tapial:</label>
    <div class="col-sm-9">
      <input type="text" class="form-control form-control-sm" id="tapial">
    </div>
  </div>
  <div class="form-group mt-5 row">
    <label class="col-sm-2 col-form-label col-form-label-sm">BAÑOS:</label>
    <div class="col-sm-10">
      <div class="form-inline">
        <div class="form-group">
          <label for="numBaños" class="col-form-label col-form-label-sm mr-sm-3">Número</label>
          <input type="number" class="form-control form-control-sm" id="numBaños" placeholder="0" min="0">
        </div>
        <div class="form-group">
          <label for="numPiezas" class="col-form-label col-form-label-sm  mx-sm-3">No de piezas</label>
          <input type="number" class="form-control form-control-sm" id="numPiezas" placeholder="0" min="0">
        </div>
        <div class="form-group ">
          <label for="enchapes" class="col-form-label col-form-label-sm  mx-sm-3">Enchapes</label>
          <input type="number" class="form-control form-control-sm" id="enchapes" placeholder="0" min="0">
        </div>
        <div class="form-group ">
          <label for="griferia" class="col-form-label col-form-label-sm  mx-sm-3">Grifería</label>
          <input type="number" class="form-control form-control-sm" id="griferia" placeholder="0" min="0">
        </div>
        <div class="form-group ">
          <label for="otrosBaños" class="col-form-label col-form-label-sm  mx-sm-3">Otros</label>
          <input type="text" class="form-control form-control-sm" id="otrosBaños">
        </div>
      </div>
    </div>
  </div>
  <div class="form-group mt-5 row">
    <label class="col-sm-2 col-form-label col-form-label-sm">COCINA:</label>
    <div class="col-sm-10">
      <div class="form-inline">
        <div class="form-group">
          <label for="gabinetes" class="col-form-label col-form-label-sm mr-sm-3">Gabinetes</label>
          <input type="number" class="form-control form-control-sm" id="gabinetes" placeholder="0" min="0">
        </div>
        <div class="form-group">
          <label for="fregadero" class="col-form-label col-form-label-sm  mx-sm-3">Fregadero</label>
          <input type="number" class="form-control form-control-sm" id="fregadero" placeholder="0" min="0">
        </div>
        <div class="form-group ">
          <label for="enchapesC" class="col-form-label col-form-label-sm  mx-sm-3">Enchapes</label>
          <input type="number" class="form-control form-control-sm" id="enchapesC" placeholder="0" min="0">
        </div>
        <div class="form-group ">
          <label for="griferiaC" class="col-form-label col-form-label-sm  mx-sm-3">Grifería</label>
          <input type="number" class="form-control form-control-sm" id="griferiaC" placeholder="0" min="0">
        </div>
        <div class="form-group ">
          <label for="otrosCocina" class="col-form-label col-form-label-sm  mx-sm-3">Otros</label>
          <input type="text" class="form-control form-control-sm" id="otrosCocina">
        </div>
      </div>
    </div>
  </div>
  <div class="form-group mt-5 row">
    <label class="col-sm-2 col-form-label col-form-label-sm">HABITACIONAL:</label>
    <div class="col-sm-10">
      <div class="form-inline">
        <div class="form-group">
          <label for="enrejados" class="col-form-label col-form-label-sm mr-sm-3">Enrejados</label>
          <input type="number" class="form-control form-control-sm" id="enrejados" placeholder="0" min="0">
        </div>
        <div class="form-group">
          <label for="tapiales" class="col-form-label col-form-label-sm  mx-sm-3">Tapiales</label>
          <input type="number" class="form-control form-control-sm" id="tapiales" placeholder="0" min="0">
        </div>
        <div class="form-group ">
          <label for="patios" class="col-form-label col-form-label-sm  mx-sm-3">Patios</label>
          <input type="number" class="form-control form-control-sm" id="patios" placeholder="0" min="0">
        </div>
        <div class="form-group ">
          <label for="cisternaH" class="col-form-label col-form-label-sm  mx-sm-3">Cisterna</label>
          <input type="number" class="form-control form-control-sm" id="cisternaH" placeholder="0" min="0">
        </div>
        <div class="form-group ">
          <label for="piscina" class="col-form-label col-form-label-sm  mx-sm-3">Piscina</label>
          <input type="number" class="form-control form-control-sm" id="piscina" placeholder="0" min="0">
        </div>
      </div>
    </div>
  </div>
  <h4 class="my-4">Descripción de las áreas construídas - Área m²</h4>
  <div class="form-group row">
    <label for="areaPrincipal" class="col-sm-2 col-form-label col-form-label-sm">PRINCIPAL:</label>
    <div class="col-sm-10">
      <input type="number" class="form-control form-control-sm" id="areaPrincipal" min="0">
    </div>
  </div>
  <div class="form-group row">
    <label for="2nivel" class="col-sm-2 col-form-label col-form-label-sm">2 NIVEL:</label>
    <div class="col-sm-10">
      <input type="number" class="form-control form-control-sm" id="2nivel" min="0">
    </div>
  </div>
  <div class="form-group row">
    <label for="areaCochera" class="col-sm-2 col-form-label col-form-label-sm">COCHERA:</label>
    <div class="col-sm-10">
      <input type="number" class="form-control form-control-sm" id="areaCochera" min="0">
    </div>
  </div>
  <div class="form-group row">
    <label for="areaTechado" class="col-sm-2 col-form-label col-form-label-sm">PATIO TECHADO:</label>
    <div class="col-sm-10">
      <input type="number" class="form-control form-control-sm" id="areaTechado" min="0">
    </div>
  </div>
  <div class="form-group row">
    <label for="areaTotal" class="col-sm-2 col-form-label col-form-label-sm">TOTAL DE ÁREA DE CONSTRUCCIÓN:</label>
    <div class="col-sm-10">
      <input type="number" class="form-control form-control-sm" id="areaTotal" min="0">
    </div>
  </div>
  <button type="button" class="btn btn-primary btn-lg btn-block mt-5" onclick="guardarAvaluo()">GUARDAR</button>
</form>
<script>
  navigator.serviceWorker.addEventListener('message', event => {
    console.log(`Respuesta: ${event.data}`);
  });

  function guardarAvaluo() {
    var form = $("#form-avaluo");

    var formdata = form.serializeArray();
    var data = {};

    $(formdata).each(function (index, obj) {
        data[obj.name] = obj.value;
    });

    data.idAvaluo = form.data().avaluo;

    navigator.serviceWorker.ready.then(registration => {
      registration.active.postMessage(JSON.stringify({action: 'guardar_avaluo', form: data}));
    });
  }

</script>