<h1>Búscar propiedades</h1>
<div class="tabla mt-5">
  <div class="col">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
              <tr>
                  <th>Número</th>
                  <th>Dirección de la propiedad</th>
                  <th>Accion</th>
              </tr>
          </thead>
          <tbody id="bodyOrders">
              <% for (var i = 0; i < propiedades.length ; i++) { %>
                  <tr>
                    <th><%= i+1 %></th>
                    <td> <%= propiedades[i].modelo.dirCampo %> </td>
                    <td> <a href="/perito/verAvaluo/<%= propiedades[i]._id %>">Ver avalúo</a> </td>
                  </tr>
                <% } %>
          </tbody>
      </table>
  </div>
  </div>
</div>