<h1>Exportar informes</h1>
<div class="row">
    <div class="col-lg-9">
        <div class="card shadow mb-4">
            <a href="#collapseCardCharge" class="d-block card-header py-3" data-toggle="collapse" role="button"
                aria-expanded="true" aria-controls="collapseCardExample">
                <h6 class="m-0 font-weight-bold text-primary">Exportar Informes</h6>
            </a>
            <div class="collapse hide" id="collapseCardCharge">
                <div class="card-body">
                    <p>Seleccione el informe a exportar</p>
                    <p class="font-weight-bold">*Selecciona cualquier informe del listado a continuación</p>
                    <form action="products" class="mb-3" method="post" enctype="multipart/form-data">
                        <div class="row mb-2">
                            <select name="unity" class="form-control mr-1 " id="">
                                <option value="null">Seleccione el informe a exportar</option>
                            </select>
                        </div>
                        <div class="row mb-2">
                            <select name="unity" class="form-control mr-1 " id="">
                                <option value="null">Seleccione el formato a ser exportado</option>
                            </select>
                        </div>
                        <div class="row mb-2">
                            <input type="submit" class="btn btn-success form-control" value="Exportar">
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>