<h1>Plantillas previas</h1>
<div class="row">
    <div class="col-lg-6">
        <div class="card shadow mb-4">
            <a href="#collapseCardCharge1" class="d-block card-header py-3" data-toggle="collapse" role="button"
                aria-expanded="true" aria-controls="collapseCardExample">
                <h6 class="m-0 font-weight-bold text-primary">Modificar y editar plantilla</h6>
            </a>
            <div class="collapse hide" id="collapseCardCharge1">
                <div class="card-body">
                    <p>Seleccione la plantilla</p>
                    <p class="font-weight-bold">*Selecciona cualquier informe del listado a continuación</p>
                    <form action="products" class="mb-3" method="post" enctype="multipart/form-data">
                        <div class="row mb-2">
                            <select name="unity" class="form-control mr-1 " id="">
                                <option value="null">Seleccione el informe a modificar</option>
                            </select>
                        </div>
                        <div class="row mb-2">
                            <input type="submit" class="btn btn-success form-control" value="Editar">
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-6">
        <div class="card shadow mb-4">
            <a href="#collapseCardCharge" class="d-block card-header py-3" data-toggle="collapse" role="button"
                aria-expanded="true" aria-controls="collapseCardExample">
                <h6 class="m-0 font-weight-bold text-primary">Asignar plantillas a peritos</h6>
            </a>
            <div class="collapse hide" id="collapseCardCharge">
                <div class="card-body">
                    <p>Asignación de informes</p>
                    <p class="font-weight-bold">*Seleccione el informe a habilitar</p>
                    <form action="products" class="mb-3" method="post" enctype="multipart/form-data">
                        <div class="row mb-2">
                            <select name="unity" class="form-control mr-1 " id="">
                                <option value="null">Seleccione un informe</option>
                            </select>
                        </div>
                        <div class="row mb-2">
                            <select name="unity" class="form-control mr-1 " id="">
                                <option value="null">Seleccione el perito a habilitar</option>
                            </select>
                        </div>
                        <div class="row mb-2">
                            <input type="submit" class="btn btn-success form-control" value="Asignar">
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>