<div class="cabecera">
    <div class="row mb-3">
        <div class="col-10"></div>
        <div class="col-2">Fecha: dd/mm/yy</div>
    </div>

    <div class="row mb-3">
        <div class="col-2">
            <label for="">Propietario:</label>
        </div>
        <div class="col-10">
            <input type="text" name="propietario" id="propietario" value="nombre" class="form-control" disabled>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-2">
            <label for="">Solicitante:</label>
        </div>
        <div class="col-10">
            <input type="text" name="solicitante" id="solicitante" value="nombre" class="form-control" disabled>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-2">
            <label for="">Dirección según campo:</label>
        </div>
        <div class="col-10">
            <input type="text" name="addrCampo" id="addrCampo" value="addrCampo" class="form-control" disabled>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-2">
            <label for="">Dirección según documento legal:</label>
        </div>
        <div class="col-10">
            <input type="text" name="addrLegal" id="addrLegal" value="addrLegal" class="form-control" disabled>
        </div>
    </div>
</div>

<div class="cuerpo1 mb-5">
    <div class="row">
        <div class="col">
            <label for="">Tipo de bien:</label>
        </div>
        <div class="col">
            <label for="">Uso actual:</label>
        </div>
        <div class="col">
            <label for="">Demanda en la zona:</label>
        </div>
        <div class="col">
            <label for="">Estado actual de la plusvalia:</label>
        </div>
    </div>
</div>

<div class="cuerpo2">
    <div class="row">
        <div class="col">
            <div class="row justify-content-center">
                <h3>Medidas Parametricas</h3>
            </div>
            <div class="row mb-3">
                <div class="col">
                    Norte:
                </div>
                <div class="col">
                    Linda con: <span class="text-decoration-underline">Aqui va el colindante</span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    Sur:
                </div>
                <div class="col">
                    Linda con: <span class="text-decoration-underline">Aqui va el colindante</span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    Oriente:
                </div>
                <div class="col">
                    Linda con: <span class="text-decoration-underline">Aqui va el colindante</span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    Poniente:
                </div>
                <div class="col">
                    Linda con: <span class="text-decoration-underline">Aqui va el colindante</span>
                </div>
            </div>
        </div>
        <div class="col shadow p-4 border border-success rounded">
            <div class="row">
                <h3>Distancias de puntos importantes</h1>
            </div>
            <div class="row">
                Escuelas o colegios: valor <strong>mt</strong>
            </div>
            <div class="row">
                Transporte publico: valor <strong>mt</strong>
            </div>
            <div class="row">
                Comercio Formal: valor <strong>mt</strong>
            </div>
        </div>
    </div>
</div>

<div class="cuerpo3 mt-3">
    <div class="row justify-content-center mb-3">
        <h4>Numero de inscripcion legal: ___VALOR___</h4>
    </div>
    <div class="row">
        <div class="col text-center p-2 shadow border border-dark rounded m-1">
            <h5>Área según escritura:</h5>
            <p>Valor en metros m2</p>
            <p>Valor en varas v2</p>
        </div>
        <div class="col text-center p-2 shadow border border-dark rounded m-1">
            <h5>Área según campo:</h5>
            <p>Valor en metros m2</p>
            <p>Valor en varas v2</p>
        </div>
    </div>
</div>


<div class="cierre shadow border border-success rounded p-5 mt-3">
    <div class="row">
        <div class="col text-center">
            <div class="row"><h2>Factores de Homologacion</h2></div>
            <div class="row">Factor 1</div>
            <div class="row">Factor 2</div>
            <div class="row">Factor 3</div>
        </div>
        <div class="col">
            <div class="row h-100 flex-column align-items-center">
                <h1>Valor de mercado</h1>
                <h1>$__.__</h1>
            </div>
        </div>
    </div>
</div>

<div class="informacionPerito mt-5">
    <div class="row">
        <div class="col-9"></div>
        <div class="col-3">
            <div class="row justify-content-center">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Firma_Len%C3%ADn_Moreno_Garc%C3%A9s.png/1200px-Firma_Len%C3%ADn_Moreno_Garc%C3%A9s.png" width="150px" alt="">
            </div>
            <div class="row justify-content-center">
                Nombre del perito
            </div>
            <div class="row justify-content-center">
                Numero de registro
            </div>
        </div>
    </div>
</div>